@page
@model PlaceModel
@{
    ViewData["Title"] = "";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="content" align="center">
    <table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top" align="left" id="in_content">
                <div id="breacrums"><span class="btitle"><span class="ui-icon ui-icon-carat-1-e"></span>Мястото</span></div><h1 class="title">Мястото</h1>
                <p>
                    <img align="right" alt="" border="0" src="~/images/Veseloto Gardje - Presentation3.jpg" style="width: 410px; height: 274px; margin-left: 5px;" />Детска градина &ldquo;Веселото гардже&rdquo; се намира в подножието на Витоша, в ж.к София парк! П- прекрасно място, изпълнено с много зеленина през пролетта, слънце през лятото, снежни предизвикателства през зимата и прекрасните есенни цветове! Тук детето ви ще може да докосне всеки един сезон, а вие ще бъдете спокойни за неговата сигурност!
                </p>
                <p>
                    Сградата, специално проектирана за детска градина, както и всяко едно помещение, са съобразени и оборудвани спрямо европейските стандарти за работа с деца, в съответните възрастови групи.
                </p>
                <p>
                    Детската градина разполага с шест самостоятелни занимални, всяка от които има свое място за игра, хранене и сън! За специализираните занимания по езици, изкуства, спорт и др. са предназначени отделни зали, оборудвани в съответствие с нуждите на занятието.
                </p>
                <p>
                    На разположение на децата има и голям двор, с различни съоръжения за игра, съобразени с изискванията за безопасност и сигурност на живота и здравето им.
                </p>
            </td>
        </tr>
    </table>
</div>